
#search-dropdown-menu::-webkit-scrollbar {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body::-webkit-scrollbar {
  display: none;
}
body {
  width: 100%;
  height: 100vh;
  /* margin: 0;
  padding: 0; */
  font-family: "Montserrat", sans-serif;
  background-color: #fcefec;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  /* transition: background-color 0.2s linear;
  transition: color 0.2s linear; */
  box-sizing: border-box;
}

body.darkmode-theme {
  /* background-color: #292c35; */
  --menu-color: #374151;
  --bg-color: #1f2937;
  --text-color: white;
  --text-search-input-color: white;
  --text-search-dropdown-color:rgb(156 163 175);
  --header-color: rgb(17 24 39);
  --navbar-color: rgb(55 65 81);
  --bg-search-color: rgb(55 65 81); 
  --th-color: #1f2937;
  --tr-color: #374259;
  --background-color: rgb(0, 0, 0);
  --hover-text-color: white;
  --hover-bg-color: rgb(75 85 99);
  --hover-button-color: rgb(55 65 81);
  --text-nav-color: rgb(29 78 216);
  --fullname-color: white;
  --ring-color: rgb(75 85 99);
  
  /* transition: background-color 0.2s linear;
  transition: color 0.2s linear; */
}
:root {
  --navbar-height: 46px;
  --header-height: 80px;
  --box-shadow: 2px 2px 15px #888888, -2px 2px 15px #888888;
  --menu-color: #fcefec;
  --border-color: #d3d3d3;
  --bg-color: white;
  --text-color: rgb(17 24 39);
  --text-search-input-color: rgb(17 24 39);
  --text-search-dropdown-color: rgb(55 65 81);
  --header-color: white;    /* orange-500 */
  --navbar-color: rgb(249 250 251);  /* orange-300 */
  --bg-search-color: white; 
  --th-color: #6b90da;
  --tr-color: white;
  --background-color: rgb(172, 172, 172);
  --hover-text-color: rgb(55 65 81);
  --hover-bg-color: rgb(243 244 246);
  --hover-button-color: rgb(243 244 246);
  --text-nav-color: rgb(253 186 116);
  --fullname-color: rgb(55 65 81);
  --ring-color: rgb(209 213 219);

  /* transition: color 0.2s linear;
  transition: background-color 0.2s linear; */
}

.background {
  /* background-image: url("https://images2.thanhnien.vn/zoom/700_438/Uploaded/trinm/2023_01_04/fpthanoi01-130.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -135px; */
  width: 100%;
  height: 150%;
  position: fixed;
  background-color: var(--tr-color);
  z-index: -1;
  transition: background-color 0.2s linear;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 3000px !important;
}

#header {
  background-color: var(--header-color);
  transition: background-color 0.2s linear;
}
#header span[value="FAP Name"]{
  color: var(--text-color);
  transition: color 0.2s linear;
}
#navbar {
  background-color: var(--navbar-color);
  transition: background-color 0.2s linear;
}
#search-navbar {
  color: var(--text-search-input-color);
  background-color: var(--bg-search-color);
  transition: background-color 0.2s linear;
}
#search-dropdown-menu,
#language-dropdown-menu, 
#dropdownNavbar,
#user-dropdown {
  background-color: var(--bg-search-color);
  transition: background-color 0.2s linear;
}
#search-dropdown-menu a,
#language-dropdown-menu a, 
#dropdownNavbar a,
#user-dropdown a {
  color: var(--text-search-dropdown-color);
}
#search-dropdown-menu a:hover, 
#language-dropdown-menu a:hover,
#dropdownNavbar a:hover,
#user-dropdown a:hover {
  color: var(--hover-text-color);
  background-color: var(--hover-bg-color);
}
#language-btn {
  color: var(--text-color);
}
#language-btn:hover {
  background-color: var(--hover-button-color);
}
#dropdownNavbarLink {
  color: var(--text-color);
  transition: color 0.2s linear;
}
#dropdownNavbarLink:hover {
  color: var(--text-nav-color);
}

#user-dropdown span:first-child {
  color: var(--fullname-color);
}
#user-menu-button:focus {
  --tw-ring-color: var(--ring-color);
}



.row .col-md-12 table tr {
  background-color: white;
  transition: background-color 0.2s linear;
} 
.row .col-md-12 table span {
  background-color: transparent !important;
}


 
.row .col-md-12 table tr, 
.row .col-md-12 table p{
  background-color: var(--tr-color) !important;
  transition: background-color 0.2s linear;
} 
.row .col-md-12 table th {
  border: 1px solid white;
  background-color: var(--th-color);
  transition: background-color 0.2s linear;
} 
/* .row .col-md-12.darkmode table tr:last-child td {
  border: none;
} */
/* .row .col-md-12 table td {
  padding: 0 10px;
}  */
/* .row .col-md-12.darkmode table table td {
  border: 1px solid white;
  padding: 0 10px;
} */

body.darkmode-theme .row .col-md-12 table {
  color: var(--text-color);
  transition: color 0.2s linear;
}
body.darkmode-theme .row .col-md-12 table span, 
body.darkmode-theme .row .col-md-12 table h2,
body.darkmode-theme .row .col-md-12 table h3  {
  color: white !important;
  transition: color 0.2s linear;
}
.row .col-md-12 table h2,
.row .col-md-12 table h3{
  font-size: 1.5rem;
}

body.darkmode-theme .row .col-md-12 table font[color="Green"], font[color="SeaGreen"] {
  color: #33cb30;
  transition: color 0.2s linear;
} 
body.darkmode-theme .row .col-md-12 table a:hover {
  color: #33cb30;
  transition: color 0.2s linear;
} 
body.darkmode-theme .row .col-md-12 table select,
body.darkmode-theme .row .col-md-12 table input,
body.darkmode-theme .row .col-md-12 table textarea {
  background-color: #1f2937;
  color: white;
  transition: background-color 0.2s linear;
}
