@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
        @media (min-width: 1536px){

        }
        div .container {
            max-width: 3000px !important;
        }


        div.table-title {
        display: block;
        margin: auto;
        padding:2px;
        width: 100%;
        border: 0;
        }

        

        /*** Table Styles **/

        body.darkmode-theme .table-title td, 
        body.darkmode-theme .table-title th {
            --bg-color: #1f2937;
            --text-color: rgb(204, 195, 195);
            /* --pbg-color: rgb(33, 32, 46); */
            /* --bx-shdw-color: -5px -5px 10px rgb(204, 195, 195); */
            --brightnes: 200%;
            /* --contras: 200%; */
            --th-color: #1f2937;
            transition: color 0.2s linear 0s;
        } 
        :root {
            --bg-color: rgb(204, 195, 195);
            --text-color: black;
            /* --pbg-color: rgb(221, 226, 231); */
            /* --bx-shdw-color: -5px -5px 10px #1f2937; */
            --brightnes: 100%;
            /* --contras: 100%; */
            --th-color: #6b90da;
            transition: background-color 0.2s linear 0s;
        }

        body.darkmode-theme .table-title td,
        body.darkmode-theme .table-title th {
            background-color: var(--bg-color);
            color: var(--text-color);
        }


        .table-fill {
        border-collapse: collapse;
        border-spacing: 0;
        height: auto;
        margin: auto;
        width: 100%;
        box-shadow: -10px -10px 10px rgba(0, 0, 0, 0.2), 10px -10px 10px rgba(0, 0, 0, 0.2), -10px 10px 10px rgba(0, 0, 0, 0.2), 10px 10px 10px rgba(0, 0, 0,0.2);
        }
        

        .table-title th{
            color: rgb(55 65 81 / var(--tw-text-opacity));
            background:var(--bg-color);
            font-size:15px;
            font-weight: bold;
            text-transform: none !important;
            padding:10px;
            text-align:center;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
            vertical-align:middle;
        }
        .stRow th{
            border-right:1px solid var(--bg-color);
            padding: 20px 30px;
            width:100px;
        }

        .ndRow th {
            border: 1px solid lightgray;
        }


        .table-title tr {
        border-top: 1px solid #C1C3D1;
        border-bottom: 1px solid #C1C3D1;
        
        border: 1px solid lightgray;
        color:#666B85;
        font-size:12px;
        font-weight:normal;
        text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
        }
        
        
        .table-title td {
            background:var(--bg-color);
            padding:2px;
            text-align:center;
            vertical-align:middle;
            font-weight:300;
            font-size:13px;
            text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
            border: 1px solid lightgray;
        }
        
        .table-title tr:first-child {
        border-top:none;
        }

        .table-title tr:last-child {
        border-bottom:none;
        }

        .tblBody tr{
            height:40px;
        }
        .pContent {
            border-radius: 5px;
            overflow: visible; 
            position: relative; 
        }
        
        .pContent p {
            /* background-color: var(--pbg-color); */
            /* box-shadow: var(--bx-shdw-color); */
            filter: brightness(var(--brightnes));
            height: 80px; 
            padding: 0px 5px;
            border-radius: 5px;
            position: absolute; 
            left: 3%; 
            width: 95%; 
        }